<h1><span>Admin</span></h1>

<ul class="page_content">
	<li><%= link_to "Pages", pages_url %></li>
	<li><%= link_to "Images", images_url %></li>
	<li><%= link_to "Projects", projects_url %></li>
	<li><%= link_to "Tags", tags_url %></li>
</ul>