<h1><%= t('project_gallery_headline') %></h1>
<%= render 'projects/gallery_intro' %>

<table>
<% @projects.each do |project| %>
	<%= render 'projects/gallery_show_single', :project=>project %>
<% end %>
</table>
