<h1>Project Gallery</h1>
<% @projects.each do |project| %>
	<p>
		<% if project.image %>
			<%= image_tag project.image.image.url(:thumb) %>
			<br/>
		<% end %>
		<%= link_to project.title, public_project_url(project) %><br/> 
		<%= project.description_short %>
	</p>
<% end %>

