<h1><%= t('projects_headline') %></h1>

<% @projects_by_year.each do |year, projects| %>
	<h2><%= year %></h2>
	<table>
	<% projects.each do |project| %>
		<%= render 'projects/gallery_show_single', :project=>project %>
	<% end %>
	</table>
<% end %>

