<h1><%= @tag.name %> <%= t('projects_with_keyword') %></h1>

<%= formatize @tag.description if @tag.description %>

<table>
<% @tag.projects.each do |project| %>
	<%= render 'projects/gallery_show_single', :project=>project %>
<% end %>
</table>