<h1><%= @tag.name %> <%= t('projects_with_keyword') %></h1>

<%= formatize @tag.description if @tag.description %>

<ul>
<% @tag.projects.each do |project| %>
	<li><%= link_to project.title, public_project_url(project), :class=>'content_ajax large_link' %></li>
<% end %>
</ul>