<p id="notice"><%= notice %></p>

<h1>Projects with keyword <%= @tag.name %></h1>

<ul>
<% @tag.projects.each do |project| %>
	<li><%= link_to project.title, public_project_url(project), :class=>'content_ajax' %></li>
<% end %>
</ul>