<h1><%= t('media_items_headline') %></h1>

<% @items_by_project.each do |project, items| %>
	<h2><%= project ? project.title : "General" %></h2>
	<ul>
	<% items.each do |item| %>
		<li>
			<%= render :partial=>'media_items/show_single', :locals=>{:media_item=>item} %>
		</li>
	<% end %>
	</ul>
<% end %>

