/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// CSS Reset
@import "base.scss";

/* Layout */

#map {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: -1;	
	width: 100%; 
}

#header {
	height: 200px;
	width: 100%;

	position: absolute;
	z-index: 100;
	top: 0px;

	/*background-image: url("/assets/ip_logo_black.png");
	background-repeat: no-repeat;
	background-position: -90px -15px;
	
	cursor: pointer;*/
}

#navigation_container {
	position: absolute;
	z-index: 100;
	top: 30px;
	width: 200px;
	left: 40px;
	background-color: #fff;
	padding: 10px 10px 0px 10px;
}

#content_container {
	position: absolute;
	z-index: 100;
	top: 30px;
	width: 600px;
	left: 300px;
	background-color: #fff;
	padding: 10px 10px 10px 10px;
}

/* Typography and Colors */

body {
	font-family: "Helvetica Neue", Arial;
}

h1, h2, h3 {
	font-family: "Helvetica Neue", Arial;
}