/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// CSS Reset
@import "base.scss";

/* General Typography and Colors */

body {
	font-family: "Helvetica Neue", Arial;
	font-size: 90%;
	color: black;
}

a, a:visited {
	text-decoration: none;
	color: #8A919A;
}

h1, h2, h3 {
	font-family: "Helvetica Neue", Arial;
	font-weight: bold;
}

p {
	line-height: 1.2em;
}

/* General Layout */

#map {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	z-index: -1;	
	width: 100%;
}

#header {
	height: 200px;
	width: 100%;

	position: absolute;
	z-index: 100;
	top: 0px;

	/*background-image: url("/assets/ip_logo_black.png");
	background-repeat: no-repeat;
	background-position: -90px -15px;
	
	cursor: pointer;*/
}

#navigation_container {
	position: absolute;
	z-index: 100;
	top: 30px;
	width: 200px;
	left: 40px;
	background-color: #fff;
	padding: 20px 20px 0px 20px;
}

#content_container {
	position: absolute;
	z-index: 100;
	top: 30px;
	width: 550px;
	left: 320px;
	background-color: #fff;
	padding: 20px 20px 20px 20px;
}

/* Navigation */

.menu_section {
	margin-bottom: 15px;
}

ul.event_list li {
	margin-bottom: 4px;
	line-height: 16px;
}

ul.event_list li.all_events a {
	color: black;
}

#main_menu li {
	margin-bottom: 4px;
}

#main_menu li a {
	color: black;
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
	/*text-transform: uppercase;*/
}

span.menu_large {
	color: black;
	font-size: 28px;
	line-height: 36px;
	font-weight: bold;
	/*text-transform: uppercase;*/
}

/* Content */

a.large_link {
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
}

td {
	vertical-align: top;
	padding: 0px 12px 20px 12px;
}

/* Slideshow */

#slideshow {
    position:relative;
}

#slideshow img {
    position:absolute;
    top:0;
    left:0;
    opacity:0.0;
}

#slideshow img:first-child {
    opacity:1.0;
    position:relative;
}

#slideshow img.active {
    opacity:1.0;
}