<nav>
<div class="main_nav">
  <% Page.order(:id).each_with_index do |page| %>
		<a href="<%= public_page_url(page) %>" class="nav_ajax"><%= page.title %></a>
<% end %>
</div>

<div class="language_selection">
	<select id="language_selector">
		<% I18n.available_locales.each do |l| %>
			<option value="<%= l %>"
				<% if l == I18n.locale %>
					selected="selected"
				<% end %>			
			><%= l %></option>
		<% end %>
	</select>
</div>
</nav>